<section class="orange no-mb" id="about">
	<div class="container">
		<div class="row">
			<br class="hide-on-small-only">
			<div class="col m6 push-m6">
				<h2 class="center">Who I Am</h2>
				<div class="">
					<p>
						My name is {{ site.owner }}, a Web & Mobile Developer from Delmas, Haiti.
						This website is the home for my business, {{ site.name }}, where I offer
						Web & Mobile Development services.
					</p>
					<p>
						I've been developing for the web for a couple of years now.
						And recently I've been amazed by the mobile revolution, so as
						a cool kid, I jumped aboard. I'm now developing Web & Mobile
						applications full time.
					</p>
					<p>
						I run a <a href="/posts">blog</a> on new technologies, libraries,
						frameworks and other tools that I use on a daily basis.
					</p>
					<p>
						When not behind a computer screen you can find
						me surfing the internet from my phone or playing NES video
						games or something similar. Not specifically in that order though.
					</p>
					<p>
						I also love to read books and articles, but mainly techninal ones;
						speak and write in 4 languages: Creole, French, English and
						a little bit of Spanish.
					</p>
				</div>
			</div>
			<div class="col m6 pull-m6 my-img-bottom">
				<!-- <br> -->
				<img src="/assets/images/jgb-cartoon-500.png" alt="{{site.name}}" class="responsive-img">
				<!-- <img src="/assets/images/jgb-cartoon-500.png" alt="{{site.name}}" class="responsive-img circle show-on-1340"> -->
			</div>
		</div>
	</div>
</section>