<section class="orange no-mb" id="about">
	<div class="container">
		<div class="row">	
			<div class="col m6">
					<br>
				<img src="/assets/images/jgb-cartoon-500.png" alt="{{site.name}}" class="responsive-img hide-on-small-only">
				<img src="/assets/images/jgb-cartoon-500.png" alt="{{site.name}}" class="responsive-img circle hide-on-med-and-up">
			</div>
			<div class="col m6">
				<h2 class="center">Who I Am</h2>
				<div class="text-flow">
					<p>
						My name is {{ site.owner }}, a Web & Mobile Developer from Delmas, Haiti. 
						This website is the home for my business, {{ site.name }}, where I offer
						Web & Mobile Development services.
					</p>
					<p>
						I've been developing for the web for a couple of years now.
						And recently I've been amazed by the mobile revolution, so as
						a cool kid, I jumped aboard. I'm now developing Web & Mobile
						applications full time now.
					</p>
					<p>
						He also runs a blog on new technologies, libraries, frameworks and other tools he uses on a daily basis.
					</p>
					<p>
						When he's not behind a computer screen you can find him surfing the internet from his phone or playing video games or something like that. Yeah but not especially in that order.
					</p>
					<p>
						He also loves to read books and articles, but mainly techninal ones; speaks and writes in 4 languages: Creole, French, English and Spanish (actually that one, he uses it rarely.) 
					</p>
				</div>
			</div>
		</div>
	</div>
</section>