<section id="contact" class="section no-mb">
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">
                <h2 class="center">Let's Get In Touch</h2>
                <p class="center grey-text">
                    Wanna hire me for your next project or just say hi? <br>
                    <i class="fa fa-envelope"></i> Drop me a line at
                    <a href="mailto:hello@jgbneatdesign.com">hello@jgbneatdesign.com</a> <br>
                    Call me directly at <a href="tel:+50941830318">(509) 4183 0318</a> <br>
                    Or just use the form below.<br><br>
                </p>
                <div class="row">
                    <form class="col s12">
                        <div class="input-field">
                            <input placeholder="Enter Your Full Name" id="full_name" type="text" class="validate" required>
                            <label for="full_name">Full Name</label>
                        </div>
                        <div class="input-field">
                            <input placeholder="Enter Your E-mail" id="email" type="email" class="validate">
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field">
                            <input placeholder="Enter The Subject of Your Message" id="subject" type="text" class="validate">
                            <label for="subject">Subject</label>
                        </div>
                        <div class="input-field">
                            <textarea placeholder="Enter Your Message" id="message" class="materialize-textarea"></textarea>
                            <label for="message">Message</label>
                        </div>
                        <div class="input-field">
                            <button class="btn orange btn-large waves-effect waves-light" type="submit">
                                <i class="material-icons right">send</i> Send Message
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>