<footer class="black darken-4 white-text no-mb">
	<div class="container">
		<div class="row no-mb">
			<div class="col s12">
				<p class="center-align grey-text">
					Let's connect \_(0_o)_/ <br><br>
					<a
						href="https://github.com/{{ site.github }}"
						target="blank"
						class="btn-floating orange">
						<i class="fa fa-github fa-fw"></i>
					</a>
					&nbsp;
					<a
						href="https://linkedin.com/in/{{ site.linkedin }}"
						target="blank"
						class="btn-floating orange">
						<i class="fa fa-linkedin fa-fw"></i>
					</a>
					&nbsp;
					<a
						href="https://twitter.com/{{ site.twitter }}"
						target="blank"
						class="btn-floating orange">
						<i class="fa fa-twitter fa-fw"></i>
					</a>
					&nbsp;
					<a
						href="https://plus.google.com/{{ site.google }}"
						target="blank"
						class="btn-floating orange">
						<i class="fa fa-google-plus fa-fw"></i>
					</a>
					&nbsp;
					<a
						href="https://facebook.com/{{ site.facebook }}"
						target="blank"
						class="btn-floating orange">
						<i class="fa fa-facebook fa-fw"></i>
					</a>
					&nbsp;
					<a
						href="https://instagram.com/{{ site.instagram }}"
						target="blank"
						class="btn-floating orange">
						<i class="fa fa-instagram fa-fw"></i>
					</a>
				</p>
				<p class="center-align grey-text">
					&copy; {{ "now" | date: "%Y" }} {{ site.name }}<br>
				</p>
			</div>
		</div>
	</div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<!-- <script src="/assets/dist/js/jquery.min.js"></script> -->
<script src="/assets/vendor/js/materialize.min.js"></script>
<script src="/assets/js/site.js"></script>
</body>
</html>