<footer class="grey darken-4">
	<div class="container">
		<div class="row no-mb">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-sm-4 col-xs-6">
						<p>
							<a
								href="https://facebook.com/"
								target="blank"
								class="btn btn-primary">
								<i class="fa fa-facebook fa-fw"></i>
								<span class="network-name">Facebook</span>
							</a>
						</p>
					</div>
					<div class="col-sm-4 col-xs-6">
						<p>
							<a
								href="https://twitter.com/"
								target="blank"
								class="btn btn-info">
								<i class="fa fa-twitter fa-fw"></i>
								<span class="network-name">Twitter</span>
							</a>
						</p>
					</div>
					<div class="col-sm-4 col-xs-6">
						<p>
							<a
								href="https://plus.google.com/id/about"
								target="blank"
								class="btn btn-danger ">
								<i class="fa fa-google-plus fa-fw"></i>
								<span class="network-name">Google+</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<p>
			<small><small>
				&copy; 2017 {{ site.name }}.<br>
				Website by <a class="white" target="blank" href="https://jgbneatdesign.com">JGB! Neat Design</a>.
			</small></small>
		</p>
	</div>
</footer>

<!--JavaScript at end of body for optimized loading-->
<script src="/assets/dist/js/materialize.min.js"></script>
<script>
	var elem = document.querySelector('.sidenav');
	var instance = M.Sidenav.init(elem);
</script>
</body>
</html>