<section class="section no-mb grey darken-4 white-text" id="services">
	<div class="container">
		<div class="row">	
			<div class="col m8 offset-m2 center">
				<h2>Services</h2>
				<div class="text-flow">
					<p>
						With more than 5 years of experience building for the web and mobile. This has led us to using a variety of tools and technologies that are just right for the job at hand. It means that we will use our skills and the variety of tools in our arsenal to solve your problems. And don't take our word for granted, head to the testimonials section and see what our clients say. Here's a short list of direct services we can offer you. You may still contact us for a custom problem you might have. 
					</p>
				</div>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">public</i> Simple Website</h4>
				<p>
					Looking for a simple website with a couple of static pages, a nice looking landing page, a magazine or even a blog?
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">desktop_mac</i> Web App</h4>
				<p>
						You need a web platform, want to manage users, sell products, services with real time analytics or a backend to support your mobile application?
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">smartphone</i> Mobile App</h4>
				<p>
						Want a mobile application that will consume data from an API, do calculations, allow your web platform's users to reach the service in real time? Or it may be as simple as a presentation application with a couple of screens
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">storage</i> Web Hosting</h4>
				<p>
						Every website or web application needs a home on the internet so they can be accessed all over the world. We happen to be good at that too. Ranging from simple shared hosting to a customized VPS (Virtual Private Server) to a dedicated server, or configuring a CDN (Content Delivery Network) for even faster loading time, We can help you get the best for your budget.
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">domain</i> Domain Name</h4>
				<p>
					Every successful online endeavor starts with a good name and a sweet web address. The latter is called a domain name and is what people will type in their browsers' address bar to access your business online. We can help with finding and registering a great domain name.
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">mic_none</i> Online Radio</h4>
				<p>
						Whether you are in the media, a church, an organization or even a DJ and want to broadcast live audio online to reach more people/fans/users, we have experience with that. We can even get you international number(s) for people outside the country to call and listen. And more.
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">tv</i> Online TV</h4>
				<p></p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">storage</i></h4>
				<p></p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">storage</i></h4>
				<p></p>
			</div>
		</div>
	</div>
</section>