<section class="section no-mb grey darken-4 white-text" id="services">
	<div class="container">
		<div class="row">
			<div class="col m8 offset-m2 center">
				<h2>My Services</h2>
				<div class="text-flow">
					<p>
						More than 5 years of experience building for the web and the mobile platforms
						has led me to using a variety of tools and technologies that are
						right for the job at hand. It means that I will use my skills
						and the variety of tools in my arsenal to solve your problems.
					</p>
					<p>
						And don't take my word for granted, head to the <a href="#work">portfolio</a> section
						to see some of the work that I've done and am proud of.

						You may still <a href="#contact">get in touch</a> for a specific problem you might have
						or a custom solution your want buit.
					</p>
					<p>
						Meanwhile here's a short list of direct services I can offer,
						you might need one of them:
					</p>
				</div>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">public</i> Simple Website</h4>
				<p>
					Your are looking for a simple website with a couple of static pages,
					a nice looking landing page, a magazine or even a blog.
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">desktop_mac</i> Web App</h4>
				<p>
					You need a web platform, want to manage users, sell products,
					services with real time analytics or a backend to support your mobile application.
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">smartphone</i> Mobile App</h4>
				<p>
					You want a mobile application that will consume data from an API,
					do calculations, allow your web platform's users to reach the service in real time.
					Or it may be as simple as a presentation application with a couple of screens.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col m4">
				<h4><i class="material-icons">storage</i> Web Hosting</h4>
				<p>
					Every website or web application needs a home on the internet so
					they can be accessed all over the world. I happen to be good at that too.
					Ranging from simple shared hosting to a customized VPS (Virtual Private Server)
					to a dedicated server, or configuring a CDN (Content Delivery Network) for even
					faster loading time, I can help you get the best for your budget.
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">domain</i> Domain Name</h4>
				<p>
					Every successful online endeavor starts with a good name and a sweet web address.
					The latter is called a domain name and is what people will type in their browsers'
					address bar to access your business online. I can help with finding and registering
					a great domain name.
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">mic_none</i> Online Radio</h4>
				<p>
					Whether you are in the media, a church, an organization or even a DJ and want
					to broadcast live audio online to reach more people/fans/users,
					I have experience with that. I can even get you international number(s) for
					people outside the country to call and listen. And much more.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col m4">
				<h4><i class="material-icons">tv</i> Online TV</h4>
				<p>
					It's {{ "now" | date: "%Y" }} and people spend more time on their computer
					and mobile devices more than ever. So if you are a TV, doing multimedia events,
					an organization... and want to reach more users, broadcasting images and/or videos
					online might be a good option. Depending on your budget and the size of the audience
					you want to target, I might have something for you.
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">web</i> WP Theme Dev</h4>
				<p>
					You already have a design and want to code it or that static site
					is already online but you can't update it regularly because you don't
					know anything about HTML or don't want to get your hands dirty each time
					you want to make an update. It's frustrating. Isn't it? It's okay.
					Let me translate that design or static site to a WordPress theme for you
					so you can use WordPress, the most popular Content Management System in the world,
					to do it yourself. I'll even provide educational assistance and materials to help you
					get on speed with the platfom.
				</p>
			</div>
			<div class="col m4">
				<h4><i class="material-icons">dashboard</i> Marketing & SEO</h4>
				<p>
					Having a presence online is great. Good job, you've made it! But wait.
					You have no visitors, or not the amount you'd expected?
					You should know by now that people won't know about your website/app if
					you don't market it. And it has to be optimized for search engine such as Google
					so people can find it when they search for something related to your business.
					Luckily for you I've been managing websites that have thousands of visitors a day.
					And I can help you. I'll leverage social media and other search engine optimization
					techniques to get people to know about your business.
				</p>
			</div>
		</div>
	</div>
</section>