<section id="contact" class="section no-mb teal lighten-1 white-text">
    <div class="container">
        <div class="row">
            <div class="col m10 offset-m1">
                <h2 class="center">Thank You for Your Message!</h2>
                <p class="center">
                   I just received your message. I will get in touch as soon as possible. Again thanks!
                </p>
                <p class="center">
                    You still can still contact me again if you need with the form below.
                </p>
            </div>
        </div>
    </div>
</section>