<section id="contact" class="section no-mb">
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">
                <h2 class="center">Thank You for Your Message!</h2>
                <p class="center grey-text">
                   I just received your message. I will get in touch as soon as possible. Again thanks!
                </p>
                <p>
                    You still can still contact me again if you need with the form below.
                </p>
            </div>
        </div>
    </div>
</section>